<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <td>{{product.id}}</td>
  </tr>

  <tr>
    <th scope="col">Name</th>
    <td>{{product.name}}</td>
  </tr>

  <tr>
    <th scope="col">Category</th>
    <td>{{product.category}}</td>
  </tr>
  <tr>
    <th scope="col">Quantity</th>
    <td>{{product.quantity}}</td>
  </tr>

  <tr>
    <th scope="col">Date Release</th>
    <td>{{product.dateRelease}}</td>
  </tr>

  <tr>
    <th scope="col">Price</th>
    <td>{{product.price}}</td>
  </tr>

  <tr>
    <th scope="col">Description</th>
    <td>{{product.description}}</td>
  </tr>
  </thead>
</table>
