
.footer{
  width: 100%;
  height: 550px;
  background-color: #20c997;
  float: bottom;
}

.footer .col-1 {
  max-width: 100%;
  height: 548px;
  background-color: white;
}

.footer .map {
  max-width: 300px;
  height: 52px;
  background-color: #046056;
}

.footer .footer-li {
  margin: 40px;
}

.footer .footer-li li{
  margin: 20px;
}

.footer .footer-li li a{
  margin: 20px;
  color: black;
}

.footer .footer-ariyana img{
  width: 500px;
  height: 131px;
}
