<div style="clear: both">
  <h1>LIST SERVICE FURAMA</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên dịch vụ</th>
      <th scope="col">Diện tích</th>
      <th scope="col">Số tầng</th>
      <th scope="col">Số người</th>
      <th scope="col">Chi phí thuê</th>
      <th scope="col">Kiểu thuê</th>
      <th scope="col">Trạng thái</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td colspan="9">
        <ul class="pagination">
          <li class="page-item"><a href="" class="page-link">Previous</a></li>
          <li class="page-item"><a href="" class="page-link">1</a></li>
          <li class="page-item"><a href="" class="page-link">2</a></li>
          <li class="page-item"><a href="" class="page-link">3</a></li>
          <li class="page-item"><a href="" class="page-link">Next</a></li>
        </ul>
      </td>
    </tr>

    <tr *ngFor="let item of services; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.serviceName}}</td>
      <td>{{item.serviceArea}}</td>
      <td>{{item.serviceFloor}}</td>
      <td>{{item.serviceCapacity}}</td>
      <td>{{item.serviceCost}}</td>
      <td>{{item.serviceRentType}}</td>
      <td>{{item.serviceStatus}}</td>
    </tr>
    </tbody>
  </table>
</div>
