<div class="studentDetail">
  <h1>Student List</h1>
  <table class="table">
    <tbody>
    <tr>
      <td>Name</td>
      <td>{{student.name}}</td>
    </tr>

    <tr>
      <td>Gender</td>
      <td>{{student.gender}}</td>
    </tr>

    <tr>
      <td>Class name</td>
      <td>{{student.className}}</td>
    </tr>

    <tr>
      <td>Point</td>
      <td>{{student.point}}</td>
    </tr>

    <tr>
      <td>Phone</td>
      <td>{{student.phone}}</td>
    </tr>

    <tr>
      <td>Address</td>
      <td>{{student.address}}</td>
    </tr>
    </tbody>
  </table>
</div>
