<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Category</th>
    <th scope="col">Quantity</th>
    <th scope="col">Date Release</th>
    <th scope="col">Price</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of products;" [routerLink]="['/product/detail', item.id]">
    <th scope="row">{{item.id}}</th>
    <td>{{item.name}}</td>
    <td>{{item.category}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.dateRelease}}</td>
    <td>{{item.price}}</td>
    <td>{{item.description}}</td>
  </tr>
</table>
