<div class="body-content" style="clear: both">
  <div class="form-create">
    <form>
      <label for="nameCustomer">Tên khách hàng</label>
      <input class="form-control" type="text" placeholder="Tên khách hàng" id="nameCustomer">

      <div class="form-group">
        <label for="exampleFormControlSelect1">Loại khách</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>VIP</option>
          <option>Diamon</option>
          <option>Platinum</option>
          <option>Gold</option>
          <option>Silver</option>
        </select>
      </div>

      <label for="phoneCustomer">Số điện thoại</label>
      <input class="form-control" type="text" placeholder="Số điện thoại" id="phoneCustomer">

      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@gmail.com">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <label for="dayOfBirthCustomer">Ngày sinh</label>
      <input class="form-control" type="date" placeholder="Ngày sinh" id="dayOfBirthCustomer">

      <label for="identityCardCustomer">Số CMND</label>
      <input class="form-control" type="text" placeholder="Số CMND" id="identityCardCustomer">

      <label for="nationalityCustomer">Quốc tịch</label>
      <input class="form-control" type="text" placeholder="Quốc tịch" id="nationalityCustomer">

      <label for="dateCreateCustomer">Ngày tạo</label>
      <input class="form-control" type="date" placeholder="Ngày tạo" id="dateCreateCustomer">

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Real Information?</label>
      </div>
      <button type="submit" class="btn btn-primary">Thêm mới khách hàng</button>
    </form>
  </div>
</div>
