<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <td></td>
  </tr>

  <tr>
    <th scope="col">Name</th>
    <td></td>
  </tr>

  <tr>
    <th scope="col">Category</th>
    <td></td>
  </tr>
  <tr>
    <th scope="col">Quantity</th>
    <td></td>
  </tr>

  <tr>
    <th scope="col">Date Release</th>
    <td></td>
  </tr>

  <tr>
    <th scope="col">Price</th>
    <td></td>
  </tr>

  <tr>
    <th scope="col">Description</th>
    <td></td>
  </tr>
  </thead>
</table>
